  <div class="container">
    <div class="container-close">&times;</div>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://images.unsplash.com/photo-1544457070-4cd773b4d71e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=543&q=80" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="..." class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="..." class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
          
    <div class="container-text">
      <h2>Thank you for choosing
        Glam Your Space <br></h2>
      <p>Send us a message ,tell us how your experience was <br> </p>
          <input type="name" placeholder="Your name">
      <input type="email" placeholder="Email address">
      <textarea>Message</textarea>
      <button type="submit">Submit</button>
     
    </div>
  </div>

