  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div class="logo">
        <h1><a href="index.html">Glam Your Space</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" routerLink="/HomepageComponent" routerLinkActive="active">Home</a></li>
          <li><a class="nav-link scrollto" routerLink="/AboutComponent" routerLinkActive="active">About</a></li>
          <li><a class="nav-link scrollto" routerLink="/FormComponent" routerLinkActive="active">Form Create</a></li>
          <li class="dropdown"><a href="#"><span>Designs</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a routerLink="/HomepageComponent" routerLinkActive="active">Homepage</a></li>
              <li><a routerLink="/LivingRoomComponent" routerLinkActive="active">Living Room</a></li>
              <li><a routerLink="/BedroomComponent" routerLinkActive="active">Bedroom</a></li>
              <li><a routerLink="/KitchenComponent" routerLinkActive="active">Kitchen</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" routerLink="/ContactsComponent" routerLinkActive="active">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <div class="container">
    <div class="container-close">&times;</div>
   
          <img src="https://images.unsplash.com/photo-1544457070-4cd773b4d71e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=543&q=80" alt="...">
   
    <div class="container-text">
      <h2>GLAM SPACE<br></h2>
      <p>Choose your design space and enter your measurement.Some designs will be selected just for you. <br> </p>
      <form action="">
          <input type="name" placeholder="Your name" class="form-control" required >
          <select type="DESIGN SPACE" placeholder=""  class="form-control"required>
            <option value="Livingroom">Livingroom</option>
            <option value="Bedroom">Bedroom</option>
            <option value="Kitchen">Kitchen</option>
     </select>
      <button type="submit" routerLink="/BedroomComponent" routerLinkActive="active">Submit</button>
      </form> 
     
    </div>
  </div>


  