  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div class="logo">
        <h1><a href="index.html">Glam Your Space</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" routerLink="/HomepageComponent" routerLinkActive="active">Home</a></li>
          <li><a class="nav-link scrollto" routerLink="/AboutComponent" routerLinkActive="active">About</a></li>
          <li><a class="nav-link scrollto" routerLink="/FormComponent" routerLinkActive="active">Form Create</a></li>
          <li class="dropdown"><a href="#"><span>Designs</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a routerLink="/HomepageComponent" routerLinkActive="active">Homepage</a></li>
              <li><a routerLink="/LivingRoomComponent" routerLinkActive="active">Living Room</a></li>
              <li><a routerLink="/BedroomComponent" routerLinkActive="active">Bedroom</a></li>
              <li><a routerLink="/KitchenComponent" routerLinkActive="active">Kitchen</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" routerLink="/ContactsComponent" routerLinkActive="active">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->

<h1>Living Room Space</h1>
<section id="gallery">
  <div class="container">
    <div class="row">
    <div class="col-lg-4 mb-4">
    <div class="card">
      <img src="assets/li.jpeg" alt="" width="300" height="250" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Living Room Space</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
        <button type="button" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Add</button>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#productmodal1"><i class="fa fa-info"></i> Info</button> 
              <h2 class="pull-right">$890</h2>
      </div>
     </div>
    </div>
  <div class="col-lg-4 mb-4">
  <div class="card">
      <img src="assets/decor.jpeg" alt="" width="300" height="250" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Living Room Space</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
        <button type="button" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Add</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#productmodal1"><i class="fa fa-info"></i> Info</button> 
        <h2 class="pull-right">$250</h2>
      </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
    <div class="card">
      <img src="assets/ye.jpeg" alt="" width="300" height="250" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Living Room Space</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
        <button type="button" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Add</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#productmodal1"><i class="fa fa-info"></i> Info</button> 
        <h2 class="pull-right">$300</h2>
      </div>
     </div>
    </div>
  </div>
</div>
</section>
<section id="gallery">
  <div class="container">
    <div class="row">
    <div class="col-lg-4 mb-4">
    <div class="card">
      <img src="assets/living.jpeg" alt="" width="300" height="250" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Living Room Space</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
        <button type="button" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Add</button>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#productmodal1"><i class="fa fa-info"></i> Info</button> 
              <h2 class="pull-right">$800</h2>
      </div>
     </div>
    </div>
  <div class="col-lg-4 mb-4">
  <div class="card">
      <img src="assets/living room.jpeg" alt="" width="300" height="250" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Living Room Space</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
        <button type="button" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Add</button>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#productmodal1"><i class="fa fa-info"></i> Info</button> 
              <h2 class="pull-right">$790</h2>
      </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
    <div class="card">
      <img src="assets/livin.jpeg" alt="" width="300" height="250" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Living Room Space</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
        <button type="button" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Add</button>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#productmodal1"><i class="fa fa-info"></i> Info</button> 
              <h2 class="pull-right">$1250</h2>
      </div>
     </div>
    </div>
  </div>
</div>
</section>


<section id="gallery">
  <div class="container">
    <div class="row">
    <div class="col-lg-4 mb-4">
    <div class="card">
      <img src="assets/living 1.jpeg" alt="" width="300" height="250" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Living Room Space</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
        <button type="button" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Add</button>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#productmodal1"><i class="fa fa-info"></i> Info</button> 
              <h2 class="pull-right">$500</h2>
      </div>
     </div>
    </div>
  <div class="col-lg-4 mb-4">
  <div class="card">
      <img src="assets/living 2.jpeg" alt="" width="300" height="250" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Living Room Space</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
        <button type="button" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Add</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#productmodal1"><i class="fa fa-info"></i> Info</button> 
        <h2 class="pull-right">$750</h2>
      </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
    <div class="card">
      <img src="assets/living 3.jpeg" alt="" width="300" height="250" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Living Room Space</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
        <button type="button" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Add</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#productmodal1"><i class="fa fa-info"></i> Info</button> 
        <h2 class="pull-right">$1100</h2>
      </div>
     </div>
    </div>
  </div>
</div>
</section>
<section id="gallery">
  <div class="container">
    <div class="row">
    <div class="col-lg-4 mb-4">
    <div class="card">
      <img src="assets/living 4.jpeg" alt="" width="300" height="250" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Living Room Space</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
        <button type="button" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Add</button>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#productmodal1"><i class="fa fa-info"></i> Info</button> 
              <h2 class="pull-right">$1300</h2>
      </div>
     </div>
    </div>
  <div class="col-lg-4 mb-4">
  <div class="card">
      <img src="assets/living 5.jpeg" alt="" width="300" height="250" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Living Room Space</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
        <button type="button" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Add</button>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#productmodal1"><i class="fa fa-info"></i> Info</button> 
              <h2 class="pull-right">$500</h2>
      </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
    <div class="card">
      <img src="assets/living 6.jpeg" alt="" width="300" height="250" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Living Room Space</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
        <button type="button" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Add</button>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#productmodal1"><i class="fa fa-info"></i> Info</button> 
              <h2 class="pull-right">$950</h2>
      </div>
     </div>
    </div>
  </div>
</div>
</section>

