.btn{
  margin-left: 15px;
}
 
h1{
  text-align: center;
  font-size: 40px;
  font-family:'Kaushan Script', curvise;
}

.card-title{
  font-size: 25px;
  color: rgb(0, 0, 0);
  font-family: fantasy;
  
}