<div class="container">
  <h1>Welcome to Glam My Space</h1>
  <div class="header">
    <img src="/assets/main.jpeg" class="img-fluid" alt="image">
  </div>
  <div class="row">
    <div class="col align-self-start">
      <img src="/assets/decu.jpeg"
    alt="windowarea" class="image-one">
    </div>
    <div class="col align-self-center">
      <p>Your home is your safe haven</p>
      <div class="heading">
         <h1> Glam Your Space </h1>
     </div>
    </div>
  </div>
 <div class="row">
    <div class="col align-self-start">
      <h4>Turn Your Space To a WorldClass Home</h4>
      <div class="heading1 mt-2">
        <h3></h3>
     </div>
    </div>
    <div class="col align-self-center">
     <img src="/assets/deco.jpeg" alt="deco" class="image-two">
    </div>
  </div>
<div class="row">
    <div class="col align-self-start">
      <img src="/assets/windowarea.jpeg" alt="windowarea" class="image-one">
    </div>
    <div class="col align-self-center">
      <h4>Beauty At An Affordable Price</h4>
      <div class="heading2 mt-2">
         <h3></h3>
     </div>
    </div>
</div>
 <div class="col align-self-start">
      <img src="/assets/living room.jpeg" alt="windowarea" class="image-one">
    </div>
    <div class="col align-self-start" class="btn">
      <button>Get started</button>
  </div>  
<!-- <div class="col align-self-center mb-2">
  <img src="/assets/living room.jpeg" alt="living room" class="image-two">
</div> -->